In [1]:
import pandas as pd
import numpy as np

In [253]:
paris_listings=pd.read_table('paris_airbnb.csv',sep=',')

In [254]:
# accéder à la première ligne d'un data frame
paris_listings.loc[0]

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                   1
latitude                        48.8335
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                              0
bathrooms                             1
beds                                  0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

In [83]:
# accéder au trois première ligne d'un data frame
paris_listings.loc[0:2]

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243

In [252]:
# accéder à l'élément de la première ligne et accommodates du data frame
paris_listings.loc[0]['accommodates']

2

In [87]:
# acceder au trois première ligne du tableau avec la variable accommodates du data frame
paris_listings.loc[0:2]['accommodates']

0    2
1    2
2    4
Name: accommodates, dtype: int64

In [88]:
# calculer la valeur absolue d'une différence: distance euclidienne 
acc_mon_logement=3
first_distance=np.abs(paris_listings.loc[0]['accommodates']-acc_mon_logement)

# afficher le résultat
print(first_distance)

1

In [236]:
# calculer la distance entre acc_mon_logement et toute les valeurs de accommodates dans mon data frame
distance=paris_listings['accommodates'].apply(lambda x: np.abs(x-acc_mon_logement))

# ajouter la serie distance au data frame paris_listings
paris_listings['distance']=paris_listings['accommodates'].apply(lambda x: np.abs(x-acc_mon_logement))

# utiliser la méthode value_counts() pour affichier le décompte de chaque valeur unique
paris_listings['distance'].value_counts()

# interprétation: on voit ici qu'il y a 878 logement qui ont le meme accommodates que notre logement

1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: distance, dtype: int64

In [237]:
# Choisir dans le data frame les index qui ont une distance égale à zéro (on vas afficher que les accommodates)
paris_listings[paris_listings['distance']==0]['accommodates']

3       3
7       3
13      3
14      3
18      3
       ..
7907    3
7938    3
7948    3
7958    3
7989    3
Name: accommodates, Length: 878, dtype: int64

In [238]:
#  fixer la graine à 1  pour faire les permutations
np.random.seed(1)

#  randomiser l'ordre des lignes de paris_listings
index=np.random.permutation(len(paris_listings))
 
#  Utiliser la méthode pour retourner un nouveau data frame d'ordre randomiser
paris_listings=paris_listings.loc[np.random.permutation(len(paris_listings))]

# trier le résultat de paris_listings sur la colonne distance avec sort_values
paris_listings=paris_listings.sort_values('distance')

# Afficher les 10 premières lignes de la colonne "price"
paris_listings10=paris_listings.[0:10]['price']

In [239]:
paris_listings10

# nettoyer la colonne "price" en enlevant les dollars et les virgules 
stripped_commas=paris_listings['price'].str.replace(',','')
stripped_dollars=stripped_commas.str.replace('$','')

In [240]:
paris_listings['price']=stripped_dollars.astype('float') # conversion en float

In [250]:
# calculer la moyenne des 5 valeurs de price
mean_price=paris_listings.[0:5]['price'].mean()
print(mean_price)

92.0

In [255]:
paris_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
host_response_rate      5000 non-null object
host_acceptance_rate    0 non-null float64
host_listings_count     7999 non-null float64
latitude                8000 non-null float64
longitude               8000 non-null float64
city                    7997 non-null object
zipcode                 7930 non-null object
state                   7977 non-null object
accommodates            8000 non-null int64
room_type               8000 non-null object
bedrooms                7976 non-null float64
bathrooms               7942 non-null float64
beds                    7986 non-null float64
price                   8000 non-null object
cleaning_fee            6250 non-null object
security_deposit        6320 non-null object
minimum_nights          8000 non-null int64
maximum_nights          8000 non-null int64
number_of_reviews       8000 non-null int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB